<div class="container">
<h3>3 Most Popular User Agents: <% url.top_user_agents.each do |agent| %>
                                                            <%= agent %>
                                                            <% end %></h3>
</div>
