<h1>Account deleted!</h1>
<iframe src="//giphy.com/embed/ld28D1eniDy5W" width="480" height="406" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/ld28D1eniDy5W"></a></p>
