<div class="container">
<h1>Sorry, you have not registered your app yet</h1>
<iframe src="//giphy.com/embed/8bReTHpR0Wo9y" width="480" height="198" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/90s-jackie-chan-chris-tucker-8bReTHpR0Wo9y"></a></p>
</div>
