<div class="container">
  <% client.event_names.uniq.each do |event|%>
    <p><a href = "http://localhost:9393/events/<%= client.identifier %>/<%= event.event %>"> <%= event.event %> </p>
  <% end %>
  <h2><%= link_to_main_statistics(client) %></h2>
</div>
