<div class="container">
  <h4>Total hits: <%= event.by_hour(client).values.reduce(:+) %></h4>
  <h4>Hits by Hour</h4>
  <% event.by_hour(client).each do |hour, hits| %>
   <p><%= "Hour #{hour}: #{hits} #{singluar_or_plural_hits(hits)}" %></p>
  <% end %>
  <h2><%= link_to_main_statistics(client) %></h2>
</div>
