<div class="container">
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li role="presentation"><a href="/allsources">All Sources</a></li>
        <li role="presentation"><a href="/createaccount">Create Account</a></li>
      </ul>
      <div class="center-text">

      <%= yield %>
      </div>
      <br>
      <br>
      <br>
        <div class="footer">
        Brought to you by: TEAM SQUATTY POTTY
        <p><img src="https://metrouk2.files.wordpress.com/2015/10/squatty_potty_ad.gif" alt="squat in da pot" /></p>
      </div>
    </div>
  </body>
  </html>
</div>
